
.navbar .navbar-brand {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  transition: 0.2s;
  color: rgba(96, 112, 255, 1);
}

.navbar .navbar-brand:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}

.navbar .navbar-nav .nav-link {
  font-size: 15px;
  font-weight: 500;
  color: rgba(52, 69, 99, 1);
  font-family: "Inter", sans-serif;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

.landing {
  height: 100vh;
  background-image: url(/imgs/headerBackgroundDesktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(9, 30, 66, 1);
}
.landing h1 {
  font-size: 48px;
  font-weight: bold;
  font-family: var(--font-family-Crete-Round);
}

.landing .connect {
  color: rgba(127, 140, 255, 1);
}

